<% const d = new Date();
   let year = d.getFullYear(); %>
<footer>
  <p class="copyright">&copy; <%= year %>, CSE 340 App by Mawuli Ayikpa from Accra-Ghana</p>
  <p><a href="/error/trigger">Trigger a 500 Error</a></p> <!-- 500 error link -->
</footer>
