<!-- Hero Section -->
<section class="hero">
    <h1>Welcome to CSE Motors!</h1>
    <span class="message">
        <%- messages() %></span>
    <div class="hero-content">
        <div class="hero-text">
            <h2><span class="highlight">DMC Delorean</span></h2>
            <p>3 Cup holders<br>Superman doors<br>Fuzzy dice!</p>
            <a href="/inv/type/1" class="cta-button">Own Today</a>
        </div>
        <div class="hero-image">
            <img src="images/vehicles/adventador.jpg" alt="DMC Delorean">
        </div>
    </div>
</section>

<!-- Upgrades & Reviews -->
<div class="upgrades-reviews">
    <!-- Upgrades Section -->
    <section class="upgrades">
        <h2>Delorean Upgrades</h2>
        <div class="grid">
            <div class="card">
                <img src="images/upgrades/flux-cap.png" alt="Flux Capacitor">
                <p>Flux Capacitor</p>
            </div>
            <div class="card">
                <img src="images/upgrades/flame.jpg" alt="Flame Decals">
                <p>Flame Decals</p>
            </div>
            <div class="card">
                <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                <p>Bumper Stickers</p>
            </div>
            <div class="card">
                <img src="images/upgrades/hub-cap.jpg" alt="Hub Caps">
                <p>Hub Caps</p>
            </div>
        </div>
    </section>

    <!-- Reviews Section -->
    <section class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </section>
</div>
