<h1>Inventory Management</h1>

<a href="/inv/add-classification">Add New Classification</a><br>
<a href="/inv/add-inventory">Add New Vehicle</a>

<h2>Manage Inventory</h2>
<p>Choose a classification to see items.</p>

<!-- Classification select dropdown -->
<%- classificationSelect %>

<!-- Table to display inventory -->
<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>

<!-- Link to the JavaScript -->
<script src="/js/inventory.js"></script>
